.container{
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    max-width: 1170px;
}
section{ display: flex; }
.flex{ display: flex; }
.flex-column{ flex-direction: column; }
.flex-one{ flex: 1; }
.align-center {align-items: center;}
.center {justify-content: center;}
.space-between {justify-content: space-between;} 
.btn {
    cursor: pointer; 
    border: none; 
    padding-left: 12px; padding-right: 12px; padding-top: 6px; padding-bottom: 6px;
    border-radius: 3px;
    line-height: 1.4; 
}
.btn-default{
    background-color: #faa541;
    color: white;
}
.btn-pirmary{
    background-color: #364147;
    color: white;
}
