.container{
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    max-width: 1170px;
}
section{ display: flex; }
.flex{ display: flex; }
.flex-column{ flex-direction: column; }
.flex-one{ flex: 1; }
.align-center {align-items: center;}
.center {justify-content: center;}
.space-between {justify-content: space-between;} 
